services:
  # --- 開発環境 ---
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.dev
    container_name: rust_dev_app
    command: sleep infinity
    
    volumes:
      - ..:/app
      - ${DATA_DIR}:/app/data

      - rust_target:/app/target
      - cargo_registry:/usr/local/cargo/registry

    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
      - DATABASE_URL_BINARY=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db_binary:${POSTGRES_PORT}/${POSTGRES_DB_BINARY}
      - CARGO_TARGET_DIR=/app/target
      - SERVER_PORT=${SERVER_PORT}

    depends_on:
      - db
      - db_binary
    
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

  # --- PostgreSQL ---
  db:
    image: postgres:15-alpine
    container_name: rust_dev_db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    
    volumes:
      - pg_data:/var/lib/postgresql/data
    
    ports:
      - "5432:${POSTGRES_PORT}"

  # --- PostgreSQL for binary data ---
  db_binary:
    image: postgres:15-alpine
    container_name: rust_dev_db_binary
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_BINARY}
    
    volumes:
      - pg_data_binary:/var/lib/postgresql/data
    
    ports:
      - "5433:${POSTGRES_PORT}"

volumes:
  rust_target:
  cargo_registry:
  pg_data:
  pg_data_binary:
